<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <listeners>
        <listener class-name="com.demo.listeners.TestListeners"/>
    </listeners>
    <test name="Selenium Framework" thread-count="2" parallel="methods">
        <classes>
            <class name="com.tests.Login"/>
<!--            <class name="com.tests.RandomTest"/>-->
        </classes>
    </test>
</suite>